These are the tickets you have booked
  <ul class="User">
  <% for(var i=0; i<Event.length; i++) {%>
    <li class="Events">
      <span> <%= " Event No: " +Event[i].Eno+"."%></span>
      <span><%=" Event Name: " +Event[i].Ename%></span>
      <span><%=" Location: " +Event[i].loc%></span>
      <span><%=" Time: " +Event[i].time%></span>
    </li>
  <% } %>
</ul>