<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<head>
    <script src="angular/angular.min.js"> </script>
    <style>
       .t1
       {
           background-color:white;
       }
    </style>
</head>
<script> var myModule = angular.module("myApp",[])  </script>
<body ng-app="myApp" class="t1">
    <form ng-controller='appController' ng-submit="send()">
      <!--send() function from the controller is called on form submission -->
    <h2>Would You like to buy tickets for this movie? </h2> 
		<label for="Event-Number" >Unique Event Number: </label><br />
            <input type="text" id="Eno" ng-model="data.Eno" /> <br />
        <label for="Event-Name"> Name:</label><br />
             <input type="text" id="Ename" ng-model="data.Ename" /> <br /> <br />
        <label for="Location"> Location:</label><br />
            <input type="text" id="loc" ng-model="data.loc" /> <br /> <br />       
        <label for="Time"> Time:</label><br />
            <input type="text" id="time" ng-model="data.time" /> <br /> <br />                              
        <input type="submit" ng-click="Submit">
       <div><pre>{{response.data}}</pre>  </div>
    </form>
 
<a href="index.html">Back</a>

     <script>
	 myModule.controller ("appController",
        function appController($scope, $http) {
            /*$http directive is used to communicate to the server */
            $scope.data = {}
            $scope.response = {}
			
            $scope.send = function () {
                /*executed when submit is clicked*/          
				console.log($scope.data.name);
                var posting = $http({
			/*posting to /process_get  */
                    //method: 'GET',
                    //url: '/process_get',
                    //params: $scope.data,
			/*posting to /process_post*/
                    method: 'POST',
                    url: '/process_post',
                    data: $scope.data,
                    
                }).then (function (response) {
                    /*executed when server responds back*/
                    console.log(response);
                    $scope.response.data = response.data;
                },function (error){
					console.log(error);
			});
            }
        });
    </script>
</body>
</html>

 